<div class="notification-container">
  <img *ngIf="category === NotificationCategory.FOLLOW" src="assets/people.svg" [matMenuTriggerFor]="notificationMenu"
       [ngClass]="notifications.length > 0
                ? 'notification-icon-with-badge clickable'
                : 'clickable'">

  <span *ngIf="category === NotificationCategory.GENERAL">
    <img *ngIf="notifications.length === 0" class="clickable" src="assets/notification.svg" [matMenuTriggerFor]="notificationMenu">
    <img *ngIf="notifications.length > 0" class="notification-icon-with-badge clickable" src="assets/notifications_active.svg" [matMenuTriggerFor]="notificationMenu">
  </span>

  <img *ngIf="category === NotificationCategory.MESSAGE" src="assets/message.svg" [matMenuTriggerFor]="notificationMenu"
       [ngClass]="notifications.length > 0
                ? 'notification-icon-with-badge clickable'
                : 'clickable'">

  <div *ngIf="notifications.length > 0"
       class="red-circle clickable text-center" [matMenuTriggerFor]="notificationMenu">
    {{notifications.length}}
  </div>
  <mat-menu #notificationMenu="matMenu" xPosition="before">
    <div class="mat-menu-header text-center">
      {{'NAV.' + category | translate}}
    </div>
    <div class="notification-grid-container menu-item clickable"
         *ngFor="let notification of notifications"
         (click)="$event.stopPropagation(); openNotificationModal(notification)">
      <div class="profile-picture-item-container">
        <img class="profile-picture" alt="No image"
             [src]="getPicture(notification.sentByUser.profilePicture.data)">
      </div>
      <div class="username" [matTooltip]="notification.sentByUser.userName"
           [matTooltipDisabled]="notification.sentByUser.userName.length <= 8">
        {{notification.sentByUser.userName | truncate}}
      </div>
      <div class="text-center">
        {{'NOTIFICATION.' + getNotificationType(notification.type) | uppercase | translate}}
      </div>
      <div class="fullname" [matTooltip]="notification.sentByUser.fullName"
           [matTooltipDisabled]="notification.sentByUser.fullName.length <= 12">
        {{notification.sentByUser.fullName | truncate: 12}}
      </div>
      <div class="action-button-container text-center">
        <span *ngIf="notification.type === NotificationType.FOLLOW_REQUEST">
          <button mat-icon-button matTooltip="{{'NOTIFICATION.DECLINE' | translate}}"
                  (click)="$event.stopPropagation(); declineRequest(notification.sentByUser.id);">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button matTooltip="{{'NOTIFICATION.ACCEPT' | translate}}"
                  (click)="$event.stopPropagation(); acceptRequest(notification.sentByUser.id)">
            <mat-icon>done</mat-icon>
          </button>
        </span>
        <span *ngIf="notification.type !== NotificationType.FOLLOW_REQUEST">
          <button mat-icon-button matTooltip="{{'NOTIFICATION.MARK_AS_READ' | translate}}"
                  (click)="$event.stopPropagation(); markAsReadNotification(notification.id)">
            <mat-icon>mark_as_unread</mat-icon>
          </button>
        </span>
      </div>
    </div>
    <span *ngIf="category === NotificationCategory.MESSAGE">
      <hr>
      <div class="text-center clickable" matRipple (click)="openMessages()">
        {{'NOTIFICATION.ALL_MESSAGES' | translate}}
      </div>
    </span>
  </mat-menu>
</div>
