<div mat-dialog-title style="position: relative">
  <h2 class="title">{{'POST.ADD_TITLE' | translate}}</h2>
  <mat-error *ngIf="unPostedWorkouts?.length === 0 && !data">{{'POST.NO_UNPOSTED_WORKOUT' | translate}}</mat-error>
</div>
<mat-spinner *ngIf="!unPostedWorkouts"></mat-spinner>
<mat-dialog-content *ngIf="unPostedWorkouts" class="mat-typography">
  <div *ngIf="!data">
    <h3>{{'WORKOUT.WORKOUTS' | translate}}</h3>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="selectedWorkout" (selectionChange)="getFiles()" placeholder="{{'WORKOUT.SELECT' | translate}}">
        <mat-option *ngFor="let workout of unPostedWorkouts" [value]="workout" [disabled]="workout.files.length === 0">
          {{workout.date | dateFormatter : _state.language.value : false}} - {{'WORKOUT.TYPES.' + workout.type | uppercase | translate}}
          <span *ngIf="workout.files.length === 0">({{'GENERAL.NO_MEDIA_FILE' | translate}})</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <form *ngIf="selectedWorkout" [formGroup]="postForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{'POST.DESCRIPTION' | translate}} *</mat-label>
        <textarea matInput formControlName="description"></textarea>
      <mat-error>{{'GENERAL.MANDATORY_INPUT' | translate}}</mat-error>
    </mat-form-field>

    <div class="exercise-container" *ngFor="let exercise of selectedWorkout.exercises; index as index">
      <h2>{{'WORKOUT.EXERCISE' | translate}} {{index + 1}}</h2>
      <div class="pair-left">
        {{'WORKOUT.EXERCISE_NAME' | translate}}: {{exercise.name}}
      </div>
      <div class="pair-right">
        {{'WORKOUT.EXERCISE_EQUIPMENT' | translate}}: {{exercise?.equipment}}
      </div>
      <div>
        <table>
          <tr>
            <td>{{'WORKOUT.SET_WEIGHT' | translate}}</td>
            <td *ngFor="let set of exercise.sets">{{set.weight}}</td>
          </tr>
          <tr>
            <td>{{'WORKOUT.SET_REPS' | translate}}</td>
            <td *ngFor="let set of exercise.sets">{{set.reps}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="selectedWorkout.exercises.length === 0">
      <h2>{{'WORKOUT.TYPES.' + selectedWorkout.type | uppercase | translate}}</h2>
      <div class="pair-left">
        {{'WORKOUT.DISTANCE' | translate}}: {{selectedWorkout.distance}}
      </div>
      <div class="pair-right">
        {{'WORKOUT.DURATION' | translate}}: {{selectedWorkout.duration}}
      </div>
    </div>

    <div class="workout-file-container" *ngFor="let file of selectableFiles; index as index" (click)="mediaFileOnClick(index)">
      <img *ngIf="!(file.file.format | isVideo)" [src]="getPicture(file.file.data)">
      <video *ngIf="file.file.format | isVideo" [src]="getPicture(file.file.data)"></video>
      <mat-checkbox [checked]="file.isChecked" (click)="$event.preventDefault()" color="primary"></mat-checkbox>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>{{'GENERAL.CANCEL' | translate}}</button>
  <button type="submit" mat-button (click)="submitPostForm()" [disabled]="!selectedWorkout">{{'POST.POST' | translate}}</button>
</mat-dialog-actions>
