
mat-card {
  background-color: grey;
  margin-top: 65px;
  margin-right: 50px;
  float: right;
  width: 40%;
  text-align: center;
}

mat-form-field {
  width: 85%;
}

.title {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  mat-card {
    width: 80%;
    float: none;
    margin: 65px auto;
  }
}
