::ng-deep .mat-form-field-underline {
  display: none;
}

h2 {
  font-size: 24px;
}

button {
  font-size: 18px;
}

.signup-button {
  background-color: #e1e1e1;
}

mat-card {
  background-color: #bebfc6;
  margin-top: 65px;
  margin-right: 60px;
  float: right;
  width: 35%;
  text-align: center;
}

mat-form-field {
  background-color: #fff;
  border: 1px solid #4742425b;
  border-radius: 6px;
  box-shadow: 0 0 10px #00000029;
  height: 40px;
  max-height: 40px;
  width: 100%;
}

mat-form-field:hover {
  border: 1px solid #47424299;
}

mat-form-field.mat-focused {
  border: 1px solid #47424299;
  box-shadow: 0 0 10px #b0a9a9;
}

mat-form-field.ng-dirty.ng-invalid {
  border: 1px solid #e00a0a;
  box-shadow: 0 0 10px #e00a0a4d;
}

.control-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 15px;
}

.center-input-field {
  margin-top: -17px;
  margin-left: 10px;
}

.content-container {
  width: 50%;
  float: left;
  height: 80%;
  text-align: center;
}

.title {
  width: fit-content;
  text-align: left;
  margin: 110px 0 35px 75px;
  font-size: 30px;
}

.forgot-password {
  position: absolute;
  bottom: -12px;
  right: 5px;
  color: grey;
  font-size: 12px;
  text-decoration: underline grey;
}

.control-pair-container {
  display: inline-flex;
  overflow: hidden;
  padding: 15px;
}

.pair-left {
  text-align: left;
  width: 190px;
  padding-right: 30px;
}

.pair-right {
  display: block;
  text-align: left;
  width: 190px;
}

.feature-list-container {
  margin-bottom: 10px;
}

.feature-item {
  margin-left: 10px;
  display: inline-block;
}

.biceps-image {
  height: 35px;
  width: 35px;
  margin-bottom: 15px;
}

.lang {
  width: 80px;
  padding-left: 5px;
  background-color: #cfcfd6;
  border: 0;
  box-shadow: none;
}

.lang:hover {
  border: 0;
}

.lang.mat-focused {
  border: 0;
  box-shadow: none;
}

@media (min-width: 1550px) {
  mat-card {
    width: 25%;
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  mat-card {
    width: 80%;
    float: none;
    margin: 40px auto;
  }

  .content-container {
    width: 80%;
    float: none;
    height: fit-content;
    margin: 40px auto;
  }

  .title {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .pair-left {
    text-align: left;
    width: 125px;
    padding-right: 10px;
  }

  .pair-right {
    width: 125px;
  }

  .biceps-image {
    height: 24px;
    width: 24px;
    margin-bottom: 20px;
  }

  .feature-item {
    font-size: 13px;
    width: 50%;
  }

  hr {
    position: relative;
    margin-top: 24px;
  }

  .forgot-password {
    bottom: -20px;
  }
}
