<div class="title">{{'NAV.MY_WORKOUTS' | translate}}</div>

<mat-spinner *ngIf="!workouts"></mat-spinner>
<div *ngIf="workouts && workouts.length === 0" class="groupTitle">
  {{'WORKOUT.NO_WORKOUTS' | translate}}
</div>
<div *ngIf="workouts && workouts.length > 0">
  <div *ngFor="let groupedWorkouts of workouts | groupBy:'date' | pairs" class="mat-card-container">
    <div class="groupTitle">{{getGroupTitle(groupedWorkouts[0])}}</div>
    <app-workout-card-info [workouts]="groupedWorkouts[1]"></app-workout-card-info>
  </div>
</div>
