<h2 *ngIf="posts.length === 0">{{'POST.NO_POST' | translate}}</h2>
<mat-card *ngFor="let post of posts; index as index">
  <button *ngIf="tabIndex === 1" mat-icon-button class="more-button" [matMenuTriggerFor]="moreMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #moreMenu="matMenu" xPosition="before">
    <button mat-menu-item class="delete-post-button" (click)="deletePost(post)">
      <mat-icon color="warn">delete_forever</mat-icon>
      {{'GENERAL.DELETE' | translate}}</button>
  </mat-menu>
  <div class="profile-picture-container">
    <img class="profile-picture" [src]="getPicture(post.user.profilePicture.data)">
  </div>
  <div class="username-container">{{post.user.userName}}
    <span class="post-title">
      - {{'WORKOUT.TYPES.' + post.workout.type | uppercase | translate}} - {{post.workout.date | dateFormatter : _state.language.value : false}}
    </span>
  </div>
  <hr>
  <div style="position: relative">
    <img class="post-file" [src]="getPicture(post.files[postAdditionData[index].currentFileNumber].data)">
    <img *ngIf="postAdditionData[index].currentFileNumber !== 0"
         (click)="setCurrentFileNumber(index, '--')" class="arrow-img left-arrow-img" src="assets/left-pagination.png">
    <img *ngIf="!postAdditionData[index].isLastMediaFile"
         (click)="setCurrentFileNumber(index, '++')" class="arrow-img right-arrow-img" src="assets/right-pagination.png">
    <div class="text-center">{{postAdditionData[index].currentFileNumber + 1}}/{{post.files.length}}</div>
  </div>
  <div class="post-related-container">
    <div>
      <button *ngIf="!isLikedPost(post)" mat-icon-button (click)="like(post.id)">
        <img src="assets/like-dumbell.png">
      </button>
      <button *ngIf="isLikedPost(post)" mat-icon-button (click)="unlike(post.id)">
        <img src="assets/liked-dumbell.png">
      </button>
      <button style="margin-left: 10px;" mat-icon-button (click)="comment.focus()">
        <img src="assets/comment.png">
      </button>
    </div>
    <div *ngIf="post.likedUsers.length > 0">
      {{post.likedUsers.length}} {{'POST.LIKE' | translate}}
    </div>
    <div class="description-container">
      <strong style="margin-right: 8px;">{{post.user.userName}}</strong> {{post.description}}
      <span class="show-details" (click)="setShowDetails(index)">
          <span *ngIf="!postAdditionData[index].isShowDetails">{{'POST.SHOW_DETAILS' | translate}}</span>
          <span *ngIf="postAdditionData[index].isShowDetails">{{'POST.SHOW_LESS' | translate}}</span>
        </span>
      <div class="workout-details-container" *ngIf="postAdditionData[index].isShowDetails">
        <span class="edit-label" *ngIf="post.postedOn < post.workout.modifiedOn">{{'POST.EDITED' | translate}}</span>
        <div class="exercise-container" *ngFor="let exercise of post.workout.exercises; index as index">
          <h2>{{'WORKOUT.EXERCISE' | translate}} {{index + 1}} - {{exercise.name | titlecase}}</h2>
          <div *ngIf="exercise.equipment" class="equipment-container">
            {{'WORKOUT.EXERCISE_EQUIPMENT' | translate}}: {{exercise.equipment}}
          </div>
          <div class="exercise-table">
            <table>
              <tr>
                <td>{{'WORKOUT.SET_WEIGHT' | translate}}</td>
                <td *ngFor="let set of exercise.sets">{{set.weight}}</td>
              </tr>
              <tr>
                <td>{{'WORKOUT.SET_REPS' | translate}}</td>
                <td *ngFor="let set of exercise.sets">{{set.reps}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div *ngIf="post.workout.exercises.length === 0">
          <h2>{{'WORKOUT.TYPES.' + post.workout.type | uppercase | translate}}</h2>
          <div class="pair-left">
            {{'WORKOUT.DISTANCE' | translate}}: {{post.workout.distance}}km
          </div>
          <div class="pair-right">
            {{'WORKOUT.DURATION' | translate}}: {{post.workout.duration}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="post.comments.length > 0" class="separator">{{'POST.COMMENTS' | translate}}</div>
    <div class="comment-container" *ngFor="let comment of post.comments">
      <div class="commented-username">{{comment.user.userName}}</div>
      <span *ngIf="!commentAdditionData.get(comment.id)" [ngStyle]="{'cursor': comment.user.id === currentUser.id ? 'default': 'text'}"
            (dblclick)="setEditComment(comment); updateCommentInput.focus();">{{comment.comment}}
      </span>
      <span style="color: #969696" *ngIf="comment.commentedOn < comment.modifiedOn && !commentAdditionData.get(comment.id)"> - {{'POST.EDITED' | translate}}</span>
      <mat-form-field class="update-comment-container" [ngStyle]="{'display': commentAdditionData.get(comment.id) ? 'inline-block' : 'none'}">
        <input style="width: 480px;" #updateCommentInput matInput [value]="comment.comment">
        <button class="confirm-update-comment-button" mat-icon-button (click)="addOrUpdateComment(post.id, updateCommentInput, 'update', comment.id)">
          <mat-icon>done</mat-icon>
        </button>
        <button class="cancel-update-comment-button" mat-icon-button (click)="setEditComment(comment, updateCommentInput)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button *ngIf="!commentAdditionData.get(comment.id) && comment.user.id === currentUser.id"
              mat-icon-button class="more-horiz-button" [matMenuTriggerFor]="moreCommentMenu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #moreCommentMenu="matMenu" xPosition="before">
        <button mat-menu-item class="edit-comment-mobile" (click)="setEditComment(comment); updateCommentInput.focus();">{{'GENERAL.EDIT' | translate}}</button>
        <button mat-menu-item class="delete-post-button" (click)="deleteComment(post.id, comment.id)">{{'GENERAL.DELETE' | translate}}</button>
      </mat-menu>
    </div>
    <hr>
    <div class="add-comment-input-container">
      <input #comment placeholder="{{'POST.ADD_COMMENT' | translate}}">
    </div>
    <div class="add-comment-button-container">
      <button class="add-comment-button" mat-button (click)="addOrUpdateComment(post.id, comment, 'create');">{{'POST.COMMENT' | translate}}</button>
      <button class="add-comment-icon-button" mat-icon-button (click)="addOrUpdateComment(post.id, comment, 'create');">
        <mat-icon matTooltip="{{'POST.COMMENT' | translate}}">done</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
