.first-char {
  color: red;
  font-family: 'Segoe Print',sans-serif;
  font-size: 30px;
}

.wt-container {
  width: 95%;
  text-align: center;
}

.wt {
  margin-top: 40px;
  margin-bottom: 40px;
  transform: rotate(15deg);
}

hr {
  width: 85%;
}

.profile-picture {
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.profile-picture-mobile {
  border-radius: 50%;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.profile-mobile {
  display: none;
  text-align: center;
}

.sidenav-container {
  height: 100%;
  overflow-y: auto;
}

.sidenav {
  background-color: #f1f2f3;
  overflow-y: auto;
  width: 260px;

  mat-nav-list {
    border-right: 2px solid #e4e7eb;
    height: 50%;

    a,
    h3 {
      color: #323232;
    }
  }
}

mat-nav-list {
  color: #323232;
  height: auto;
  margin: 50px 10px 10px;
  overflow-y: auto;

  a {
    font-size: 15px;
    margin: 5px 0;
  }

  span {
    padding: 0 15px;
  }
}

mat-divider {
  margin-left: 75px;
  padding: 2px;
  width: 65%;
}

.sidenav {
  border: 0;
  overflow: hidden;
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.menu-icon-container {
  align-content: center;
  background-color: #e5e5e5;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  min-height: 50px;
  min-width: 50px;
}

.mat-toolbar {
  background-color: #313131;
  border-bottom: 3px solid red; //#ffc900;
  box-shadow: none;
  color: #fff;
  height: 50px;
  margin-bottom: 60px;
  position: sticky;
  top: 0;
  z-index: 4;

  .filler {
    flex: 1 1 auto;
  }

  .item-left {
    margin-right: 10px;
  }

  .item-right {
    margin-left: 10px;
  }
}

.mat-list-base .mat-list-item .mat-list-item-content {
  border-bottom: 0;
  font-size: 15px;
  padding: 5px 25px;
}

.mat-list-item:hover {
  background-color: transparent;
  font-weight: bold;
}

.mat-list-item:hover,
a:active {
  background-color: transparent;
  font-weight: bold;
}

.active {
  background-color: transparent;
  color: #323232;
  font-weight: bold;

  .menu-icon-container {
    background-color: red;
  }
}

.mat-list-item:hover,
.menu-icon-container:active,
a:active {
  .menu-icon-container {
    background-color: #ff3131;
  }
}

.menu-button {
  left: 325px;
  position: fixed;
  top: 5px;
}

.main-content {
  padding: 12px;
}

.notification-icon {
  color: #ffc900;
  font-size: 27px;
  margin: 10px;
}

.user-icon {
  font-size: 45px;
  margin: 12px 20px 12px 12px;
}

.toolbox-user-picture {
  border-radius: 50%;
  max-width: 45px;
}

.nav-user-picture {
  border-radius: 50%;
  max-width: 100px;
}

.nav-user-icon {
  font-size: 120px;
}

.user-data {
  overflow-x: hidden;
}

.name {
  font-size: 14px;
  text-align: center;
  white-space: initial;
  width: 200px;
  word-wrap: break-word;
}

.mat-menu {
  max-height: 400px;
  overflow-x: hidden;
  width: 350px;
  word-break: break-all;
}

.mat-menu-header {
  background: #929292;
  color: #fff;
  font-size: 12px;
  height: 26px;
  padding-top: 3px;
}

.menu-item {
  border-bottom: 1px #323232;
  font-size: 12px;
  height: 70px;
  line-height: initial;
  padding: 15px 20px;

  &.deleted {
    background-color: #ececec;
    color: #000;
    font-weight: normal !important;
  }

  &.unread {
    color: #000;

    .noti-type {
      color: #323232;
    }
  }
}

.noti-type {
  color: #323232;
  float: right;
  font-weight: bold;
  text-transform: uppercase;
}

.noti-change {
  float: left;
}

.noti-container {
  align-items: stretch;
  flex-direction: row;
  padding: 10px;
}

.noti-divider {
  color: #323232;
  margin-left: 0;
  width: 100%;
}

::ng-deep.mat-menu-panel {
  margin-top: 15px;
  max-width: none !important;
  top: 50px;
}

@supports (-ms-ime-align:auto) {
  .mat-select {
    width: 180px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-profile {
    display: none;
  }

  .lang {
    font-size: 13px;
    width: 70px;
  }

}

@media only screen and (max-width: 500px) {
  .lang {
    width: 65px;
  }
}

.last-divider {
  border: 0;
  padding-bottom: 20px;
}

.username {
  font-size: 13px;
  margin: 0 30px 0 15px;
}

.log-out {
  font-size: 13px;
  margin: 0 15px;
}

.username:hover,
.log-out:hover {
  text-decoration: underline #fff;
}

.lang {
  font-size: 13px;
  margin: 0 15px;
  width: 70px;

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

}

.username-container-mobile {
  display: none;
}

@media print {
  mat-sidenav,
  mat-toolbar {
    display: none;
  }

  .mat-toolbar {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 950px) {
  .menu-button {
    left: 10px;
    position: fixed;
    top: 3px;
  }
}


@media only screen and (max-width: 600px) {
  .menu-button {
    left: 0;
    position: fixed;
    top: 3px;
  }

  .mat-toolbar {
    margin-bottom: 0;

    .item-left {
      margin-right: 0;
    }

    .item-right {
      margin-left: 0;
    }
  }

  .lang {
    font-size: 11px;
  }

  .username-container {
    display: none;
  }

  .username {
    font-size: 17px;
    margin: 5px 0 35px 0;
  }

  .log-out {
    display: block;
    font-size: 11px;
    margin: 0;
  }

  .notification-icon {
    margin: 10px 0;
  }

  ::ng-deep.mat-menu-panel {
    margin: 0;
    max-width: 100%;
  }

  .sidenav mat-nav-list {
    height: auto;
    margin: 50px 10px;
  }

  .profile-mobile {
    display: block;
  }
}


