<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><strong class="first-char">W</strong>orkout <strong class="first-char">T</strong>racking</a>
      <div>
        <ul class="navbar-nav flex-grow">
          <li>
            <span>{{'GENERAL.LANGUAGE' | translate}} </span>
            <mat-select style="width: 70%; margin-left: 5px" (selectionChange)="switchLanguage($event)" [value]="currentLanguage()">
              <mat-option value="hu">HU</mat-option>
              <mat-option value="en">EN</mat-option>
            </mat-select>
          </li>
<!--          <li class="nav-item" [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/counter']"-->
<!--              >Counter asd</a>-->
<!--          </li>-->
<!--          <li class="nav-item" [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"-->
<!--              >Fetch data</a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
