.title {
  margin-left: 25px;
  margin-bottom: 40px;
  font-size: 36px;
}

.mat-card-container {
  padding: 25px;
  margin-bottom: 15px;
}

app-workout-card-info {
  margin-left: 30px;
}

.groupTitle {
  margin-left: 25px;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .title {
    margin-top: 20px;
  }
}
