<div class="content">
  <form [formGroup]="friendSearchForm" (ngSubmit)="submitFriendSearchForm()">
    <mat-form-field appearance="standard">
      <div class="center-input-field">
        <input matInput placeholder="{{'USER.FULLNAME' | translate}} / {{'USER.USERNAME' | translate}}" formControlName="name">
      </div>
    </mat-form-field>
    <button class="search-button" mat-raised-button type="submit">{{'FRIEND.SEARCH' | translate}}</button>
  </form>
  <div class="card-container" *ngIf="users !== undefined">
    <mat-card *ngFor="let user of users">
        <img class="profile-picture" [src]="getPicture(user.profilePicture.data)">
        {{user.userName}}
        {{user.fullName}}
      <div style="float: right;">
        <button *ngIf="!isSourceUser(user.id) && !isTargetUser(user.id) && !isFollowedUser(user.id) && !isFollowerUser(user.id)" mat-raised-button (click)="follow(user.id)">{{'FRIEND.FOLLOW' | translate}}</button>
        <button *ngIf="isSourceUser(user.id) && !isBlockedBySourceUser(user.id)" mat-raised-button (click)="acceptFollowRequest(user.id)">Elogad</button>
        <button *ngIf="isSourceUser(user.id) && isBlockedBySourceUser(user.id)" mat-raised-button (click)="deleteFollowRequest(user.id, true)">Kérelem visszautasításának visszavonása</button>
        <button *ngIf="isTargetUser(user.id) && isBlockedByTargetUser(user.id)" mat-raised-button disabled>Kérelem elutasítva</button>
        <button *ngIf="isTargetUser(user.id) && !isBlockedByTargetUser(user.id)" mat-raised-button (click)="deleteFollowRequest(user.id)">{{'FRIEND.UNDO_FOLLOW' | translate}}</button>
        <button *ngIf="isFollowedUser(user.id)" mat-raised-button (click)="unfollow(user.id)">{{'FRIEND.UNFOLLOW' | translate}}</button>
        <button *ngIf="isFollowerUser(user.id) && !isFollowedUser(user.id)" mat-raised-button (click)="followBack(user.id)">{{'FRIEND.FOLLOW_BACK' | translate}}</button>
      </div>
    </mat-card>
  </div>
</div>
