.content {
  text-align: center;
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

mat-form-field {
  background-color: #fff;
  border: 1px solid #4742425b;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000029;
  font-size: 14px;
  height: 40px;
  max-height: 40px;
  width: 330px;
}

mat-form-field:hover {
  border: 1px solid #47424299;
}

mat-form-field.mat-focused {
  border: 1px solid #47424299;
  box-shadow: 0 0 10px #3298dc4d;
}

mat-form-field.ng-dirty.ng-invalid {
  border: 1px solid #e00a0a;
  box-shadow: 0 0 10px #e00a0a4d;
}

.center-input-field {
  margin-top: -17px;
  margin-left: 10px;
}

.search-button {
  font-size: 18px;
  outline: none;
  background-color: #363636;
  color: red;
  padding: 5px 40px 5px 40px;
  margin-left: 15px;
}

.card-container {
  text-align: left;
  margin: auto;
  width: 750px;
}

mat-card {
  margin: 15px;
}

.profile-picture {
  height: 60px;
  width: 60px;
}

