a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.clickable {
  cursor: pointer;
}

.filler {
  flex: 1 1 auto;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  height: 100%;
  background-color: #cfcfd6;
  //background-image: url("assets/background.png");
  //background-repeat: no-repeat;
  //background-size: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
