<div class="title">{{'WORKOUT.' +  (feature === WorkoutFeature.ADD ? 'ADD' : 'MODIFY') + '_TITLE' | translate}}
  <button *ngIf="feature === WorkoutFeature.EDIT" mat-icon-button type="button"
          class="delete-set-button" (click)="openConfirmationDialogToDelete()">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>

<mat-spinner *ngIf="feature !== WorkoutFeature.ADD && !workout"></mat-spinner>
<div *ngIf="workoutForm && ((feature !== WorkoutFeature.ADD && workout) || feature === WorkoutFeature.ADD)" class="content">
  <form [formGroup]="workoutForm" (ngSubmit)="uploadAttachments()">
    <div class="control-pair-container">
      <div class="pair-left">
        <div class="placeholder placeholder-mobile">{{'WORKOUT.DATE' | translate}} *</div>
        <mat-form-field>
          <div class="center-input-field">
            <input
              matInput
              formControlName="date"
              [matDatepicker]="workoutDate"
              [matDatepickerFilter]="futureFilter"
              (focus)="workoutDate.open()">
            <mat-datepicker #workoutDate></mat-datepicker>
          </div>
        </mat-form-field>
      </div>
      <div class="pair-right">
        <div class="placeholder placeholder-mobile">{{'WORKOUT.TYPE' | translate}} *</div>
        <mat-form-field>
          <div class="center-input-field">
            <mat-select formControlName="type" (selectionChange)="onTypeChange($event)">
              <mat-option *ngFor="let type of workoutTypes" [value]="type">{{'WORKOUT.TYPES.' + type | uppercase | translate}}</mat-option>
            </mat-select>
          </div>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="hasExercise()">
      <div class="exercise-subtitle">{{'WORKOUT.EXERCISES' | translate}}
        <button type="button" mat-icon-button (click)="addNewExercise()"><mat-icon>add</mat-icon></button>
      </div>

      <div *ngFor="let exercise of exercises.controls; let exerciseIndex = index;" class="exercises" formArrayName="exercises">
        <div [formGroupName]="exerciseIndex">
          <mat-divider></mat-divider>
          <div class="exercise-index">
            {{'WORKOUT.EXERCISE' | translate}} {{exerciseIndex + 1}}
            <button *ngIf="exercises.length !== 1" mat-icon-button
                    (click)="deleteExercise(exerciseIndex)" type="button">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          <div class="control-pair-container">
            <div class="pair-left">
              <div class="placeholder placeholder-mobile">{{'WORKOUT.EXERCISE_NAME' | translate}} *</div>
              <mat-form-field>
                <div class="center-input-field">
                  <input matInput formControlName="name">
                </div>
              </mat-form-field>
            </div>
            <div class="pair-right">
              <div class="placeholder placeholder-mobile">{{'WORKOUT.EXERCISE_EQUIPMENT' | translate}}</div>
              <mat-form-field>
                <div class="center-input-field">
                  <input matInput formControlName="equipment">
                </div>
              </mat-form-field>
            </div>
          </div>

          <div class="set-subtitle">{{'WORKOUT.SETS' | translate}}
            <button type="button" mat-icon-button (click)="addNewSet(exerciseIndex)"><mat-icon>add</mat-icon></button>
          </div>

          <div *ngFor="let set of getSets(exerciseIndex).controls; let setIndex = index;" formArrayName="sets">
            <div class="row set-container" [formGroupName]="setIndex">
              <div>
                <div class="placeholder">{{'WORKOUT.SET_WEIGHT' | translate}} *</div>
                <mat-form-field class="small-mat-form-field">
                  <div class="center-input-field">
                    <input type="number" matInput formControlName="weight">
                  </div>
                </mat-form-field>
              </div>
              <div>
                <div class="placeholder">{{'WORKOUT.SET_REPS' | translate}} *</div>
                <mat-form-field class="small-mat-form-field">
                  <div class="center-input-field">
                    <input type="number" matInput formControlName="reps">
                  </div>
                </mat-form-field>
              </div>
              <div>
                <div class="placeholder">{{'WORKOUT.DURATION' | translate}}</div>
                <mat-form-field class="small-mat-form-field">
                  <div class="center-input-field">
                    <input matInput formControlName="duration" (change)="formatDurationInput(getDurationOfSet(exerciseIndex, setIndex))">
                  </div>
                </mat-form-field>
              </div>
              <button *ngIf="getSets(exerciseIndex).length !== 1" mat-icon-button type="button"
                      class="delete-set-button" (click)="deleteSet(exerciseIndex, setIndex)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!hasExercise()" class="control-pair-container">
      <div class="pair-left">
        <div class="placeholder placeholder-mobile">{{'WORKOUT.DISTANCE' | translate}} *</div>
        <mat-form-field>
          <div class="center-input-field" style="position: relative">
            <input type="number" matInput formControlName="distance">
            <span class="distance-unit">km</span>
          </div>
        </mat-form-field>
      </div>
      <div class="pair-right">
        <div class="placeholder placeholder-mobile">{{'WORKOUT.DURATION' | translate}} *</div>
        <mat-form-field>
          <div class="center-input-field">
            <input matInput formControlName="duration" (change)="formatDurationInput(workoutDuration)">
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="attachment-subtitle">{{'WORKOUT.ATTACHMENTS' | translate}}
      <button type="button" mat-icon-button (click)="addAttachment()"><mat-icon>add</mat-icon></button>

      <input (change)="onFileSelected($event)" type="file" accept="image/png, image/jpeg, video/*"
             multiple style="display: none;" #fileInput/>
    </div>
    <table *ngIf="selectedFiles.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> File Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.format}} </td>
      </ng-container>
      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef> Preview </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.file !== null">
            <img *ngIf="!(element.file.type | isVideo)" [src]="element.preview" alt="No image"/>
            <video *ngIf="element.file.type | isVideo" [src]="element.preview"></video>
          </span>
          <span *ngIf="element.file === null">
            <img *ngIf="!(element.format | isVideo)" [src]="getPicture(element.preview)" alt="No image"/>
            <video *ngIf="element.format | isVideo" [src]="getPicture(element.preview)"></video>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteSelectedAttachment(element)"><mat-icon>delete_forever</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="submit-button-container">
      <mat-error *ngIf="workoutForm.invalid">{{'GENERAL.INVALID_FORM' | translate}}</mat-error>
      <button mat-button type="submit" class="submit-button" [disabled]="isSubmittingForm">
        <span *ngIf="!isSubmittingForm">{{'WORKOUT.' + (feature === WorkoutFeature.ADD ? 'ADD' : 'MODIFY') | translate}}</span>
        <mat-spinner *ngIf="isSubmittingForm" style="margin: 4px auto" diameter="28" color="warn" strokeWidth="4"></mat-spinner>
      </button>
    </div>
  </form>
</div>
