.title {
  display: inline-block;
  font-size: 36px;
  margin-right: 50px;
  margin-bottom: 30px;
}

table {
  width: 100%
}

.profile-picture {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
