<div class="flex-container">
  <mat-card *ngFor="let workout of workouts">
    <button mat-icon-button style="float:right" [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="editWorkout(workout.id)">
        <mat-icon>edit</mat-icon>
        {{'GENERAL.EDIT' | translate}}
      </button>
      <button mat-menu-item (click)="duplicateWorkout(workout.id)">
        <mat-icon>content_copy</mat-icon>
        {{'GENERAL.DUPLICATE' | translate}}
      </button>
      <span  [matTooltip]="getTooltipText(workout)" matTooltipPosition="right" [matTooltipDisabled]="!isPostButtonDisabled(workout)">
      <button mat-menu-item (click)="openPostCreatorModal(workout)" [disabled]="isPostButtonDisabled(workout)">
        <mat-icon>share</mat-icon>
        {{'POST.POST' | translate}}
      </button>
      </span>
      <button mat-menu-item style="color: red" (click)="deleteWorkout(workout.id)">
        <mat-icon color="warn">delete_forever</mat-icon>
        {{'GENERAL.DELETE' | translate}}
      </button>
    </mat-menu>
    <div class="detail">
      {{'WORKOUT.TYPE' | translate}}: {{'WORKOUT.TYPES.' + workout.type | uppercase | translate}}
    </div>
    <div class="detail" *ngIf="workout.exercises.length > 0">
      {{'WORKOUT.EXERCISES' | translate}}: {{workout.exercises.length}}
    </div>
    <div class="detail" *ngIf="workout.exercises.length > 0">
      {{'WORKOUT.SETS' | translate}}: (
      <span *ngFor="let exercise of workout.exercises; index as index">
        {{exercise.sets.length}}<span *ngIf="workout.exercises.length !== index+1">, </span>
      </span>
      )
    </div>
    <div *ngIf="workout.exercises.length === 0">
      <div class="detail">
        {{'WORKOUT.DISTANCE' | translate}}: {{workout?.distance}}km
      </div>
      <div class="detail">
        {{'WORKOUT.DURATION' | translate}}: {{workout?.duration}}
      </div>
    </div>
    <div class="detail">
      <span style="margin-right: 10px">{{'WORKOUT.ATTACHMENTS' | translate}}: {{workout.files.length}}</span>
      <span *ngFor="let file of workout.files | slice:0:2">
        <img *ngIf="!(file.format | isVideo)" alt="No image" [src]="getPicture(file.data)">
        <video *ngIf="file.format | isVideo" [src]="getPicture(file.data)"></video>
      </span>
    </div>
    <div class="modified-on-container">
      {{'WORKOUT.MODIFIED_ON' | translate}}: {{workout.modifiedOn | dateFormatter : _state.language.value : false}}
    </div>
  </mat-card>
</div>
