<button mat-icon-button style="float:right" (click)="close()"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>
  {{'USER.SIGNUP' | translate}}
</h2>
<mat-dialog-content align="center">
  <form [formGroup]="signUpForm" (ngSubmit)="uploadDefaultProfilePicture()">
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input matInput placeholder="{{'USER.FULLNAME' | translate}} *" formControlName="fullName">
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input type="email"  matInput placeholder="{{'USER.EMAIL' | translate}} *" formControlName="email">
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input matInput placeholder="{{'USER.USERNAME' | translate}} *" formControlName="userName">
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field" style="position: relative">
          <input matInput type="password" placeholder="{{'USER.PASSWORD' | translate}} *" formControlName="password">
          <img *ngIf="password.length < 6" class="password-hint" matTooltip="{{'USER.MIN_PASSWORD_LENGTH' | translate}}: 6" src="assets/alert.svg">
        </div>
      </mat-form-field>
    </div>
    <mat-password-strength [password]="password"></mat-password-strength>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input
            matInput
            placeholder="{{'USER.BIRTHDAY' | translate}}"
            formControlName="birthDay"
            [matDatepicker]="birthdayValue"
            [matDatepickerFilter]="birthDayPickerFilter"
            (focus)="birthdayValue.open()">
          <mat-datepicker #birthdayValue></mat-datepicker>
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-label>{{'USER.GENDER' | translate}} *</mat-label>
      <mat-radio-group color="warn" formControlName="gender">
        <mat-radio-button value="man">{{'USER.MAN' | translate}}</mat-radio-button>
        <mat-radio-button value="woman">{{'USER.WOMAN' | translate}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-error *ngIf="signUpForm.invalid">{{'GENERAL.INVALID_FORM' | translate}}</mat-error>
    <button *ngIf="!isSubmittingForm" class="add-button" type="submit" mat-button
            [ngStyle]="{'margin-top': signUpForm.valid ? '10px' : '0'}">
      {{'USER.SIGNUP' | translate}}
    </button>
    <button *ngIf="isSubmittingForm" class="add-button" type="submit" mat-raised-button disabled
            [ngStyle]="{'margin-top': signUpForm.valid ? '10px' : '0'}">
      <mat-spinner style="margin: 4px auto" diameter="28" color="warn" strokeWidth="4"></mat-spinner>
    </button>
  </form>
</mat-dialog-content>
