h2 {
  font-size: 24px;
  margin-top: 10px;
}

.add-button {
  font-size: 18px;
  width: 200px;
}

mat-form-field {
  background-color: #fff;
  border: 1px solid #4742425b;
  border-radius: 6px;
  box-shadow: 0 0 10px #00000029;
  height: 40px;
  max-height: 40px;
  width: 100%;
}

mat-form-field:hover {
  border: 1px solid #47424299;
}

mat-form-field.mat-focused {
  border: 1px solid #47424299;
  box-shadow: 0 0 10px #b0a9a9;
}

mat-form-field.ng-dirty.ng-invalid {
  border: 1px solid #e00a0a;
  box-shadow: 0 0 10px #e00a0a4d;
}

.control-container {
  display: flex;
  overflow: hidden;
  padding: 9px;
  width: 100%;
}

mat-password-strength {
  display: flex;
  margin: -3px auto 3px auto;
  width: 90%;
}

mat-label {
  margin-left: 4px;
}

mat-label, mat-radio-button {
  margin-right: 25px;
}

.center-input-field {
  margin-top: -17px;
  margin-left: 10px;
}

.password-hint {
  position: absolute;
  top: -4px;
  right: 8px;
}

@media screen and (max-width: 420px) {
  mat-label, mat-radio-button {
    margin-right: 10px;
  }

  mat-password-strength {
    width: 85%;
  }
}

