<button mat-icon-button style="float:right" (click)="close()"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>
  {{'USER.SIGNUP' | translate}}
</h2>
<mat-dialog-content align="center">
  <form [formGroup]="signUpForm" (ngSubmit)="uploadDefaultProfilePicture()">
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input matInput placeholder="{{'USER.FULLNAME' | translate}} *" formControlName="fullName">
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input type="email"  matInput placeholder="{{'USER.EMAIL' | translate}} *" formControlName="email">
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input matInput placeholder="{{'USER.USERNAME' | translate}} *" formControlName="userName">
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input matInput type="password" placeholder="{{'USER.PASSWORD' | translate}} *" formControlName="password">
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input
            matInput
            placeholder="{{'USER.BIRTHDAY' | translate}}"
            formControlName="birthDay"
            [matDatepicker]="birthdayValue"
            [matDatepickerFilter]="birthDayPickerFilter"
            (focus)="birthdayValue.open()">
          <mat-datepicker #birthdayValue></mat-datepicker>
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-label>{{'USER.GENDER' | translate}} *</mat-label>
      <mat-radio-group color="warn" formControlName="gender">
        <mat-radio-button value="man">{{'USER.MAN' | translate}}</mat-radio-button>
        <mat-radio-button value="woman">{{'USER.WOMAN' | translate}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-error *ngIf="signUpForm.invalid">{{'GENERAL.INVALID_FORM' | translate}}</mat-error>
    <button type="submit" mat-button >{{'USER.SIGNUP' | translate}}</button>
  </form>
</mat-dialog-content>
