<mat-card>
  <h2>{{'USER.RESET_PASSWORD' | translate}}</h2>
  <form [formGroup]="passwordResetForm" (ngSubmit)="submitPasswordResetForm()">
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input matInput type="password" placeholder="{{'USER.PASSWORD' | translate}} *" formControlName="newPassword">
        </div>
      </mat-form-field>
    </div>
    <div class="control-container">
      <mat-form-field appearance="standard">
        <div class="center-input-field">
          <input matInput type="password" placeholder="{{'USER.PASSWORD_CONFIRM' | translate}} *" formControlName="passwordConfirm">
        </div>
      </mat-form-field>
    </div>

    <button type="submit" mat-button >{{'USER.RESET_PASSWORD' | translate}}</button>
  </form>
</mat-card>
