::ng-deep .mat-form-field-underline {
  display: none;
}

mat-card {
  position: absolute;
  top: 42%;
  left: 45%;
  transform: translate(-50%, -50%);
  margin: 20px;
  background-color: #bebfc6;
  width: 400px;
  text-align: center;
}

mat-form-field {
  background-color: #fff;
  border: 1px solid #4742425b;
  border-radius: 6px;
  box-shadow: 0 0 10px #00000029;
  height: 40px;
  max-height: 40px;
  width: 100%;
}

mat-form-field:hover {
  border: 1px solid #47424299;
}

mat-form-field.mat-focused {
  border: 1px solid #47424299;
  box-shadow: 0 0 10px #b0a9a9;
}

mat-form-field.ng-dirty.ng-invalid {
  border: 1px solid #e00a0a;
  box-shadow: 0 0 10px #e00a0a4d;
}

.control-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 15px;
}

.center-input-field {
  margin-top: -17px;
  margin-left: 10px;
}

@media (max-width: 410px) {
  mat-card {
    width: 90%;
  }
}
